
.task {
    .additional-panel {
        margin-bottom: 14px;
        margin-top: -2px;
    }

    .fields {
        margin-bottom: 12px;
    }

    .field {
        margin-bottom: 4px;
        display: flex;

        .field-children {
            display: flex;
        }

        .field-label {
            padding-top: 2px;
            margin-right: 6px;
        }

        input, select {
            height: 24px;
            border: none;
            background: none;
            outline: none;
        }

        input {
            line-height: 14px;
            padding: 3px 0;
        }

        input[type=datetime-local] {
            width: 190px;
            font-size: 13px;
            font-family: inherit;
            border-radius: 0;
            color: black;
            transition: none;
            cursor: pointer;
        }

        select {
            padding: 0 2px 2px;
            cursor: pointer;
        }

        input:focus, input.changing {
            box-shadow: rgb(0 0 0 / 20%) 0 0 0 1px;
            background: ghostwhite;
        }

        input.changing {
            background: var(--changing-color);
        }
    }

    .field.link{
        flex-wrap: wrap;
        justify-content: flex-end;
        row-gap: 5px;
        line-height: 22px;

        input {
            flex: 1;
            min-width: 200px;
        }

        .created-at {
            margin: 0 6px 0 16px;
            min-width: 120px;
            line-height: 24px;
        }

        .btn {
            min-height: 24px;
            min-width: 24px;
            padding: 1px 0 0 0;
            margin: 0 0 0 6px;

            .oi-trash {
                margin-left: 1px;
            }
        }
    }
}
